### Pandas

NumPy and Pandas are the Python libraries which are used to manipulate, process and analyse the data. They don't have constructs which can be used to visualize the data, for that we can use another library from Python called matplotlib.

#### Pandas

Pandas provide a high-performance, easy-to-use data structures and data analysis tools.

The DataFrame is the main and widely used data structure of the Pandas library.

DataFrame is a kind of in-memory 2-D table (similar to Excel sheet) with rows and columns.

Using DataFrames, we can create pivot tables (just like Excel sheet), compute one column value using values of other columns, etc.

### Pandas - DataFrame - Loading the dataset from various data sources

A dataset can be loaded from various data sources using relevant Pandas constructs (functions) as mentioned below:

CSV file - read_csv() function
JSON file - read_json() function
Excel file - read_excel() function
Database table - read_sql() function

All the above functions return a dataframe object and most of these functions have a parameter called 'chunksize'.

e.g. to load a JSON data file (myfile.json) you can use the below code

my_df = pd.read_json("myfile.json")

Here, my_df is a pandas dataframe object.

chunksize - It is the number of rows(records) of the dataset (csv, excel, json, table, etc.) which you want to be returned in each chunk.

When you use this parameter - chunksize, these functions (read_csv(), read_sql(), etc.) return you an iterator which enable you to traverse through these chunks of data, where each chunk is of size as specified by chunksize parameter.

This 'chunksize' parameter is very useful when you are dealing with (loading) a large dataset and you have very limited memory (RAM) available on your machine. If 'chunksize' parameter is specified, only a chunk of data will be read into the dataframe at a time. Hence, if your specified chunksize is within your memory (RAM) limits, you can easily load large datasets using these constructs/functions of Pandas.

In [3]:
import pandas as pd
mydf = pd.read_csv("/cxldata/datasets/project/housing_short.csv", index_col=0)
mydf.describe()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,37.858000,43.600000,2469.400000,388.000000,868.400000,383.800000,6.674660,369340.000000
std,0.013038,13.501852,2603.018114,405.241286,862.336535,424.493463,1.921878,47089.733488
min,37.850000,21.000000,880.000000,129.000000,322.000000,126.000000,3.846200,341300.000000
25%,37.850000,41.000000,1274.000000,190.000000,496.000000,177.000000,5.643100,342200.000000
50%,37.850000,52.000000,1467.000000,235.000000,558.000000,219.000000,7.257400,352100.000000
75%,37.860000,52.000000,1627.000000,280.000000,565.000000,259.000000,8.301400,358500.000000
max,37.880000,52.000000,7099.000000,1106.000000,2401.000000,1138.000000,8.325200,452600.000000

#### Pandas - Data Structures
Following are the 'Data Structures' available in Pandas:

(1) Series objects

Series is a 1-D array, similar to a column in a spreadsheet.

(2) DataFrame objects

DataFrame is a 2-D table, similar to a spreadsheet.

(3) Panel objects

Panel is a Dictionary of DataFrames.